extends layout

block content
  svg(width=1280 height=800)
  form(action="")
    input(type="checkbox" id="number-of-questions") 
    label(for="number-of-questions") Studies labeled by number of questions answered
    br
    input(type="checkbox" id="necessary-studies") 
    label(for="Studies that are absolutely necessary") Studies that are absolutely necessary (WIP)
    br
