body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid black;
}

form {
  padding: 20px;
}

a {
  color: #00B7FF;
}

rect.border {
  stroke: #000;
  stroke-width: 1px;
  fill: none;
}

g.study-legend {
  display: none;
}

g.question-legend {
  display: none;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  font-family: "Avenir";
}

.node circle:hover + text {
  display: block;
}

.node text {
  display: none;
};